.ion-list-container {
    
    background: #e4e4e4;

    .song-list {
        height: 100%;    
    }

    .song {
        background: #ffffff;
        border-radius: 4px;

        .header {}

        .content {
            p {
                margin: 16px;

                &:first-child { font-size: 1.125em }
                &:last-child { font-size: 0.75em }
            }
        }

        .footer {
            text-align: right;
            padding: 16px;

            img {
                cursor: pointer;
            }
        }
    }
}