.ion-list-container {
    background-color: #f0f0f0;

    .song-list {
        min-height: calc(100vh - 104px);
        padding: 16px;
    }

    .song {
        box-shadow: 0 4px 8px 0 #00000033;
        margin-bottom: 16px;

        background: #ffffff;
        border-radius: 8px;

        .header {
            img {
                border-radius: 8px 8px 0px 0px; 
                height: 100%;
                width: 100%;
            }
        }

        .content {
            p {
                margin: 16px;

                &:first-child { font-size: 1.125em }
                &:last-child { font-size: 0.75em }
            }
        }

        .footer {
            text-align: right;
            padding: 16px;

            img {
                cursor: pointer;
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 530px) {
        .song-list {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: center;
        }

        .song {
            width: 300px;
            margin: 16px;
        }
    }
}